
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 20px ;
}
.icon{
  font-size: 20px;
  padding: 10px;
  margin: 05px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
  }
  
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {

    .responsive-table{
      display: flex !important;
      justify-content: center !important;
      flex-direction: column !important;
      align-items:center ;
    }
    table{
    display: flex;
  };
    table thead {
      border: none;
      overflow: hidden;
      padding: 0;
      /* clip: rect(0 0 0 0); */
      /* height: 1px; */
      /* margin: -1px; */
      /* width: 1px; */
      /* position: absolute; */
    }
    .react-bootstrap-table-pagination-list  {
      margin-top: -10%;
    }
    thead th{
      display:block;
      text-align: left;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
      font-size: .8em;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }
    
   
  }
  
 